input[type="text"] {
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: left;
}

table td {
  border: 1px solid #ccc;
  padding: 10px;
}

video {
  max-width: 100%;
}
.top-container {
  box-sizing: content-box;
  border: #8f0505;
  color: rgb(6, 6, 6);
  border-style: none;
}
